build/
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache/
/configure
/depcomp
/install-sh
/missing
/configure.scan
/autoscan.log
/ylwrap
/compile
*.o
*.a
*~
TAGS
logs
Makefile
src/lexer.c
src/parse.[ch]
src/parse.output
.deps
/config.h
/config.log
/config.status
/config.guess
/config.sub
/src/nvc
/lib/std/std
/lib/ieee/ieee
stamp-h1
IDEAS
PERF

# IEEE sources cannot be freely redistributed
lib/ieee/*.vhdl

# VI test suite also cannot be distributed
test/vi_suite*

# VESTs can be redistributed but keep it out of the main repository
test/vests/*