build/
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache/
/configure
/depcomp
/install-sh
/missing
/configure.scan
/autoscan.log
/ylwrap
/compile
*.o
*.a
*.gcda
*.gcno
*.exe
*.exe.stackdump
*.so
*~
TAGS
logs
Makefile
src/lexer.c
.deps
/config.h.in
/config.h
/config.log
/config.status
/config.guess
/config.sub
/src/nvc
stamp-h1
IDEAS
PERF
GPATH
GRTAGS
GSYMS
GTAGS
.dirstamp
bin/
.gtags.files
compile_commands.json

# VI test suite also cannot be distributed
test/vi_suite*

# VESTs can be redistributed but keep it out of the main repository
test/vests/*

# Examples has its own repository
test/examples/*

# Libraries built in-tree
lib/ieee/IEEE.*
lib/ieee/_IEEE.*
lib/ieee.08/IEEE.*
lib/ieee.08/_IEEE.*
lib/std/STD.*
lib/std/_STD.*
lib/nvc/_NVC.*
lib/nvc/NVC.*
lib/nvc.08/NVC.*
lib/nvc.08/_NVC.*
lib/std.08/STD.*
lib/std.08/_STD.*
lib/synopsys/SYNOPSYS.*
lib/synopsys/_SYNOPSYS.*
_index
_NVC_LIB
