:root {
    --table-row-color: #e8e8e8;
    --margin-left: 20%;
}

body {
    background-color: #f0f0e0ff;
}

header {
    padding: 0.5em;
    text-align: center;
    font-size: 14pt;
}

h1 {
    text-align: center;
}

h2 {
    word-wrap: break-word;
}

h3 {
    word-wrap: break-word;
    margin-bottom: 0px;
}

hr {
    border:none;
    height: 2px;
    background: black;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

nav {
    float: left;
    background-color: var(--table-row-color);
    width: 17%;
    overflow: auto;
    padding: 10px;
    margin-top: -2px;
    border: 2px solid black;
}
nav details details {
    margin-left: 1rem;
}
nav details > a {
    padding-left: 1.9rem;
    display: block;
}
nav summary {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
}
nav summary::before {
    content: '▶';
    font-size: 0.7em;
    margin-right: 0.4em;
}
nav details[open] > summary::before {
    transform: rotate(90deg);
}

table {
    table-layout: fixed;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    word-wrap: break-word;
}

.tabcontent {
    display: none;
    padding: 0px 0px;
    border: 2px solid #ccc;
    border-top: none;
    word-wrap: break-word;
}

.tab {
    overflow: hidden;
    border: 2px solid;
    margin-left: var(--margin-left);
    margin-top: 10px;
}

.cbg:hover {
    background-color: #dddddd;
}
.cbg {
    background-color: #bbbbbb;
    text-align: center;
}

.cbt {
    margin-top: 8px;
}
.cbt th {
    background-color: #bbbbbb;
    text-align: center;
}
.cbt td, .cbt th {
    width: 50px;
    text-align: center;
}
.cbt td + td, .cbt th + th {
    width: 150px;
}
.cbt td + td + td, .cbt th + th + th {
    width: 150px;
}
.cbt td + td + td + td, .cbt th + th + th + th {
    width: 150px;
}

.percent100 {
    background-color: #00cc00;
}
.percent90 {
    background-color: #e6e600;
}
.percent80 {
    background-color: #ff9900;
}
.percent0 {
    background-color: #ff0000;
}
.percentna {
    background-color: #cccccc;
}

.nav-sel {
    font-weight: bold;
}
