table.code {
    font-family: monospace;
    border-spacing: 0;
}

td.hit {
    background: #c0ffc0;
}

td.miss {
    background: #ffc0c0;
}

div.nav {
    width: 250px;
    height: 100%;
    box-shadow: 0px 1px 50px #5E5E5E;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #f0f040;
    font-family: sans-serif;
    padding: 0px;
    overflow: auto;
}

div.nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

div.nav h3 {
    font-size: 14pt;
    padding-left: 10px;
}

div.nav a:link {
    text-decoration: none;
}

div.advert {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

div.advert p {
    text-align: center;
}

div.advert a:link {
    text-decoration: none;
}

#body {
    margin: 0px auto;
    margin-left: 260px;
    font-family: sans-serif;
}

#body h1 {
    font-size: 16pt;
    text-align: center;
}

#body h2 {
    font-size: 14pt;
    text-align: center;
}

span.hl_miss {
    background: #ff6060;
}

span.hl_hit {
    background: #60ff60;
}

table.stats {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.stats td {
    padding-right: 10px;
}

table.stats th {
    border-bottom: 1px solid black;
    padding-right: 10px;
    font-size: 12pt;
}

table.stats td.num {
    text-align: center;
}

span.pct_green {
    color: #339933;
}

span.pct_orange {
    color: #ff8800;
}

span.pct_red {
    color: #cc0000;
}
